<div class="divider">
    {{#each list}}
    <div class="item">
        <p>ID: {{this.id}}</p>
        <p>Titulo: {{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>code: {{this.code}}</p>
        <p>estado: {{this.price}}</p>
        <p>price: {{this.status}}</p>
        <p>stock: {{this.stock}}</p>
        <p>category: {{this.category}}</p>
        <p>thumbnail: {{this.thumbnail}}</p>
    </div>
    {{/each}}
</div>